Repository akkytech0617/AgiRity: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lint:
  run: just --color never lint

format-check:
  run: just --color never format-check

fix: upgrade lucide-react from 0.344.0 to 0.555.0
  package-lock.json
  package.json
Due: format-check

fix: upgrade electron-updater from 6.6.2 to 6.7.2
  package-lock.json
  package.json
Due: format-check

docs: refactor AGENTS.md and reorganize documentation structure
  .github/pull_request_template.md
  AGENTS.md
  docs/development/agent_workflow.md
  docs/development/git_release_guide.md
  docs/implementation/e2e_testing_implementation_plan.md
  docs/planning/task_breakdown_template.md
  docs/product/03_development_rules.md
Due: format-check

docs: add versionup guide
  docs/development/library_upgrade_guide.md
Due: format-check

refactor: format
  .github/pull_request_template.md
  AGENTS.md
  docs/design/architecture.md
  docs/development/agent_workflow.md
  docs/development/cicd_guide.md
  docs/development/code_quality_rules.md
  docs/development/git_release_guide.md
  docs/development/library_upgrade_guide.md
  docs/implementation/testing_strategy.md
  docs/product/02_tech_stacks.md
Due: format-check

ci: add GitHub Actions CI/CD workflows
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  README.md
Due: format-check

ci: remove Codecov, use artifact for coverage report
  .github/workflows/ci.yml
Due: format-check

ci: skip electron-builder in CI build job
  .github/workflows/ci.yml
Due: format-check

ci: simplify workflows with feature flags
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: format-check

fix: boolean
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format-check

fix: branch
  .github/workflows/ci.yml
Due: format-check

fix(ci): use job outputs for feature flags
  .github/workflows/ci.yml
Due: format-check

refactor(ci): use justfile commands consistently
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format-check

ci: always run macOS build, make Linux/Windows optional
  .github/workflows/ci.yml
Due: format-check

ci: add build-ci command to skip electron-builder in CI
  .github/workflows/ci.yml
Due: format-check

feat: add build-ci for github actions ci
  Justfile
Due: none

fix(ci): remove --no-color from vite build (unsupported option)
  Justfile
Due: none

deps: add snyk as dev dependency for CI security scans
  package-lock.json
  package.json
Due: format-check

fix: use npx snyk to ensure local package is used
  Justfile
Due: none

feat(ci): add SonarCloud scan job with feature flag
  .github/workflows/ci.yml
Due: format-check

feat(ci): enable SonarCloud scan
  .github/workflows/ci.yml
Due: format-check

docs: update documentation for CI/CD implementation
  docs/development/cicd_guide.md
  docs/development/code_quality_rules.md
  docs/implementation/cicd_implementation_plan.md
  docs/product/02_tech_stacks.md
Due: format-check

docs: fix workflow job names in tech_stacks.md
  docs/product/02_tech_stacks.md
Due: format-check

docs: remove emphasis from footer timestamp in cicd_guide.md
  docs/development/cicd_guide.md
Due: format-check

ci: pin GitHub Actions to full commit SHA for security
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/development/cicd_guide.md
Due: format-check

ci: move write permission from workflow level to job level
  .github/workflows/release.yml
Due: format-check

docs: update README with quick start guide and add Japanese version
  README.md
  README_ja.md
Due: format-check

docs: add GitHub Actions upgrade guide for Dependabot PRs
  docs/development/github_actions_upgrade_guide.md
Due: format-check

docs: add CI status check details to GitHub Actions upgrade guide
  docs/development/github_actions_upgrade_guide.md
Due: format-check

docs: add develop guide document
  AGENTS.md
  docs/development/codebase_guide.md
Due: format-check

chore: upgrade Zod to v4.2.1 and Tailwind CSS to v4.1.18
  docs/adr/005-library-version-decisions.md
  docs/development/library_upgrade_guide.md
  docs/implementation/tailwind-v4-upgrade-strategy.md
  docs/implementation/zod-v4-upgrade-strategy.md
  package-lock.json
  package.json
  postcss.config.js
  src/main/ipc/index.ts
  src/main/services/ProjectService.ts
  src/renderer/components/AddItemModal.tsx
  src/renderer/components/CreateWorkspace.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/ItemEditor.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/renderer/components/WorkspaceSettings.tsx
  src/renderer/index.css
  src/shared/types.ts
  tailwind.config.js
Due: lint, format-check

chore: add launcher getItemIcon and update docs
  docs/adr/003-react-testing-library.md
  docs/design/adrs_phase1.md
  docs/design/architecture.md
  docs/development/codebase_guide.md
  docs/implementation/testing_strategy.md
  src/main/services/LauncherService.ts
Due: lint, format-check

feat: change to tab ui
  .serena/memories/code_review_findings.md
  .serena/memories/codebase_structure.md
  src/main/ipc/index.ts
  src/main/preload.ts
  src/main/services/interfaces.ts
  src/renderer/App.tsx
  src/renderer/api/index.ts
  src/renderer/components/Header.tsx
  src/renderer/components/Layout.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/shared/types.ts
  tests/unit/mocks/adapters.ts
  tests/unit/renderer/components/Header.test.tsx
  tests/unit/renderer/components/Layout.test.tsx
Due: lint, format-check

fix: upgrade lucide-react from 0.555.0 to 0.556.0
  package-lock.json
  package.json
Due: format-check

feat: change to tab ui
  .serena/memories/code_review_findings.md
  .serena/memories/codebase_structure.md
  AGENTS.md
  src/main/ipc/index.ts
  src/main/preload.ts
  src/main/services/interfaces.ts
  src/renderer/App.tsx
  src/renderer/api/index.ts
  src/renderer/components/Header.tsx
  src/renderer/components/Layout.tsx
  src/renderer/components/QuickLaunch.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/renderer/components/WorkspaceList.tsx
  src/renderer/hooks/useWorkspaces.ts
  src/shared/types.ts
  tests/unit/mocks/adapters.ts
  tests/unit/renderer/components/Header.test.tsx
  tests/unit/renderer/components/Layout.test.tsx
  tests/unit/renderer/components/QuickLaunch.test.tsx
  tests/unit/renderer/components/Sidebar.test.tsx
Due: lint, format-check

feat: implement workspace data service
  .env.example
  AGENTS.md
  package.json
  src/renderer/App.tsx
  src/renderer/vite-env.d.ts
  tests/unit/setup.ts
Due: lint, format-check

feat: workspace data source
  src/renderer/data/workspaceDataSource.ts
  src/renderer/mocks/workspaces.ts
Due: lint, format-check

fix: make header smaller
  src/renderer/components/Header.tsx
Due: lint, format-check

fix: smaller button
  src/renderer/components/Header.tsx
Due: lint, format-check

Path conditions:
  lint: any of: *.{ts,tsx}
  format-check: any of: *.{ts,tsx,json,md,yml,yaml}
