Repository akkytech0617/AgiRity: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lint:
  run: npx eslint {staged_files}
  stage_fixed: true

format-check:
  run: npx prettier --check {staged_files}

refactor: format
  docs/adr/001-strict-eslint-typescript-rules.md
  src/main/preload.ts
  src/renderer/components/CreateWorkspace.tsx
  tests/mocks/adapters.ts
  tests/unit/main/services/LauncherService.test.ts
Due: lint, format-check

chore: install lefthook
  docs/adr/002-lefthook-git-hooks.md
  package.json
Due: format-check

chore: modify test command
  package.json
Due: format-check

chore: use just command
  lefthook.yml
Due: format-check

refactor: add security-scan for pre-push
  lefthook.yml
Due: format-check

refactor: treat code rabbit
  Justfile
  docs/adr/001-strict-eslint-typescript-rules.md
  docs/adr/002-lefthook-git-hooks.md
  docs/adr/003-security-linter-configuration.md
  eslint.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  src/main/adapters/FileSystemAdapter.ts
  src/main/adapters/ShellAdapter.ts
  src/main/adapters/interfaces.ts
  src/main/container.ts
  src/main/preload.ts
  src/main/services/ProjectService.ts
  src/renderer/components/CreateWorkspace.tsx
  src/renderer/components/WorkspaceSettings.tsx
  tests/mocks/adapters.ts
Due: lint, format-check

Update lefthook.yml
  lefthook.yml
Due: format-check

test: add tests for renderer
  Justfile
  docs/adr/003-react-testing-library.md
  eslint.config.mjs
  lefthook.yml
  package-lock.json
  package.json
  tests/setup.ts
  tests/unit/renderer/components/AddItemModal.test.tsx
  tests/unit/renderer/components/Header.test.tsx
  tests/unit/renderer/components/Layout.test.tsx
  tests/unit/renderer/components/QuickLaunch.test.tsx
  tests/unit/renderer/components/Sidebar.test.tsx
  tsconfig.json
  vitest.config.ts
Due: lint, format-check

refactor: address CodeRabbit review comments
  src/main/adapters/FileSystemAdapter.ts
  src/main/adapters/ShellAdapter.ts
  src/main/adapters/interfaces.ts
  src/main/container.ts
  src/main/services/LauncherService.ts
  src/main/services/ProjectService.ts
  src/renderer/api/index.ts
  src/renderer/components/Header.tsx
  src/shared/types.ts
  tests/mocks/adapters.ts
  tests/unit/main/services/LauncherService.test.ts
  tsconfig.json
Due: lint, format-check

docs: address CodeRabbit review comments
  .serena/memories/tech_stack.md
  docs/adr/003-react-testing-library.md
Due: format-check

refactor: address remaining CodeRabbit minor comments
  src/main/ipc/index.ts
  src/main/services/ProjectService.ts
Due: lint, format-check

ci: add local ci command in just
  Justfile
Due: none

ci: add SonarCloud scan
  .gitignore
  Justfile
Due: none

refactor: address sonarcloud scan
  src/main/adapters/FileSystemAdapter.ts
  src/main/adapters/OSAdapter.ts
  src/main/adapters/ShellAdapter.ts
  src/main/adapters/interfaces.ts
  src/main/index.ts
  src/main/services/ConfigService.ts
  src/main/services/LauncherService.ts
  src/renderer/App.tsx
  src/renderer/api/index.ts
  src/renderer/components/AddItemModal.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/ItemEditor.tsx
  src/renderer/components/Layout.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/renderer/vite-env.d.ts
  tests/mocks/adapters.ts
  tests/unit/main/services/LauncherService.test.ts
Due: lint, format-check

refactor: format
  src/main/adapters/FileSystemAdapter.ts
  src/renderer/api/index.ts
  src/renderer/components/AddItemModal.tsx
  src/renderer/components/Header.tsx
  tests/unit/main/services/LauncherService.test.ts
  tsconfig.json
Due: lint, format-check

feat: migrate to ESM and fix top-level await build error
  eslint.config.mjs
  package.json
  postcss.config.cjs
  src/main/index.ts
  tailwind.config.cjs
  vite.config.ts
  vitest.config.ts
Due: lint, format-check

refactor: complete ESM migration and address SonarCloud issues
  eslint.config.mjs
  postcss.config.js
  src/main/index.ts
  src/renderer/App.tsx
  src/renderer/components/WorkspaceDetail.tsx
  tailwind.config.js
  vite.config.ts
  vitest.config.ts
Due: lint, format-check

refactor: enhance security and address CodeRabbit audit tasks
  src/main/adapters/FileSystemAdapter.ts
  src/main/adapters/ShellAdapter.ts
  src/main/ipc/index.ts
  src/main/preload.ts
  src/renderer/api/index.ts
  src/renderer/components/WorkspaceDetail.tsx
  src/shared/types.ts
Due: lint, format-check

feat: add eslint-plugin-sonarjs and fix all lint errors
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/index.ts
  src/renderer/components/AddItemModal.tsx
  src/renderer/components/CreateWorkspace.tsx
  src/renderer/components/ItemEditor.tsx
  src/renderer/components/QuickLaunch.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/renderer/components/WorkspaceSettings.tsx
Due: lint, format-check

feat: add @microsoft/eslint-plugin-sdl for security checks
  eslint.config.mjs
  package-lock.json
  package.json
Due: format-check

refactor: address SonarCloud issues and improve app startup logic
  src/main/adapters/ShellAdapter.ts
  src/main/index.ts
  src/renderer/api/index.ts
  src/shared/types.ts
Due: lint, format-check

refactor: use promise chain for app initialization to prevent hang
  docs/adr/004-main-process-initialization-esm.md
  docs/design/adrs_phase1.md
  src/main/index.ts
Due: lint, format-check

feat: implement common logger and install sentry
  .env.example
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/index.ts
  src/main/ipc/index.ts
  src/main/lib/logger.ts
  src/main/lib/sentry.ts
  src/main/preload.ts
  src/renderer/App.tsx
  src/renderer/index.tsx
  src/renderer/lib/logger.ts
  src/renderer/lib/sentry.ts
  src/shared/lib/logging/config.ts
  vite.config.ts
Due: lint, format-check

refactor: format
  docs/adr/004-main-process-initialization-esm.md
  docs/design/adrs_phase1.md
  src/shared/lib/logging/config.ts
Due: lint, format-check

refactor: address coderabbit and sonarcloud
  src/main/lib/logger.ts
  src/main/lib/sentry.ts
  src/renderer/lib/logger.ts
Due: lint, format-check

fix: resolve renderer process errors
  src/renderer/api/index.ts
  src/renderer/lib/sentry.ts
Due: lint, format-check

feat: implement Sentry Logs feature with flush on exit
  src/main/index.ts
  src/main/lib/logger.ts
  src/main/lib/sentry.ts
  src/renderer/lib/logger.ts
  src/renderer/lib/sentry.ts
Due: lint, format-check

refactor: change sentry log type
  package-lock.json
  package.json
  src/main/index.ts
  src/main/lib/logger.ts
  src/main/lib/sentry.ts
  src/renderer/App.tsx
  src/renderer/lib/logger.ts
  src/renderer/lib/sentry.ts
  tests/unit/main/lib/sentry.test.ts
Due: lint, format-check

test: implement e2e smoke test
  .gitignore
  Justfile
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/main/index.ts
  src/renderer/components/Layout.tsx
  tests/e2e/dev-mode-test.spec.ts
  tests/e2e/fixtures/electron-dev.fixture.ts
  tests/e2e/fixtures/electron.fixture.ts
  tests/e2e/playwright.config.ts
  tests/e2e/smoke/app-launch.spec.ts
  tests/unit/main/services/ConfigService.test.ts
  tests/unit/main/services/LauncherService.test.ts
  tests/unit/main/services/ProjectService.test.ts
  tests/unit/mocks/adapters.ts
  tests/unit/setup.ts
  vitest.config.ts
Due: lint, format-check

docs: add strategy docs for implement e2e test and cicd
  docs/implementation/cicd_implementation_plan.md
  docs/implementation/e2e_testing_implementation_plan.md
Due: format-check

docs: refactor architecture, test-strategy and tech stacks
  AGENTS.md
  docs/design/architecture.md
  docs/development/cicd_guide.md
  docs/development/code_quality_rules.md
  docs/implementation/testing_strategy.md
  docs/product/02_tech_stacks.md
Due: format-check

test: fix test code
  package.json
  tests/e2e/dev-mode-test.spec.ts
  tests/e2e/fixtures/electron-dev.fixture.ts
  tests/e2e/playwright.config.ts
Due: lint, format-check

test: add screen shot fixture
  tests/e2e/dev-mode-test.spec.ts
  tests/e2e/fixtures/electron-dev.fixture.ts
  tests/e2e/smoke/app-launch.spec.ts
Due: lint, format-check

test: remove skipped test
  tests/e2e/smoke/app-launch.spec.ts
Due: lint, format-check

test: refactor fixture, test docs
  docs/implementation/e2e_testing_implementation_plan.md
  docs/implementation/testing_strategy.md
  tests/e2e/dev-mode-test.spec.ts
  tests/e2e/fixtures/electron-dev.fixture.ts
  tests/e2e/fixtures/electron.fixture.ts
  tests/e2e/smoke/app-launch.spec.ts
Due: lint, format-check

refactor: combine setting file for vite and vitest
  package-lock.json
  package.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: lint, format-check

refactor: format and address sonarcloud issue
  docs/implementation/e2e_testing_implementation_plan.md
  docs/implementation/testing_strategy.md
  tests/e2e/fixtures/electron.fixture.ts
  tsconfig.node.json
Due: lint, format-check

refactor: address coderabbit
  docs/implementation/e2e_testing_implementation_plan.md
  tests/e2e/fixtures/electron.fixture.ts
  tests/e2e/smoke/app-launch.spec.ts
Due: lint, format-check

refactor: make timeout milisec named constant
  tests/e2e/fixtures/electron.fixture.ts
Due: lint, format-check

Path conditions:
  lint: any of: *.{ts,tsx}
  format-check: any of: *.{ts,tsx,json,md,yml,yaml}
