Repository akkytech0617/AgiRity: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format-check

lefthook.yml:

# lefthook.yml - Git hooks configuration
# https://github.com/evilmartians/lefthook

colors: false
no_tty: true

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{ts,tsx}'
      run: just --color never lint
    format-check:
      glob: '*.{ts,tsx,json,md,yml,yaml}'
      run: just --color never format-check
    typecheck:
      run: just --color never type-check

pre-push:
  parallel: true
  commands:
    test:
      run: just --color never test
    scan:
      run: just --color never security-all

feat: fix tool card ui
  src/main/index.ts
  src/renderer/components/ToolCard.tsx
  src/renderer/components/WorkspaceDetail.tsx
Due: lint, format-check

feat: PresetCard縦幅削減・説明文をホバーツールチップに移行
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
  src/renderer/components/WorkspaceDetail.tsx
Due: lint, format-check

fix: space
  src/renderer/components/WorkspaceDetail.tsx
Due: lint, format-check

fix: address PR #21 review findings (SonarCloud + CodeRabbit)
  .tasks/artifacts/phase1-implementation-status.md
  .tasks/pr21-review-fixes.md
  AGENTS.md
  biome.json
  docs/development/code_quality_rules.md
  docs/development/codebase_guide.md
  src/renderer/App.tsx
  src/renderer/api/index.ts
  src/renderer/components/AddItemModal.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/renderer/components/WorkspaceList.tsx
  src/renderer/components/WorkspaceSettings.tsx
  src/renderer/hooks/useWorkspaces.ts
  src/renderer/index.css
Due: lint, format-check

fix: resolve SonarCloud issues by using native button elements and CSS layer
  .tasks/pr21-review-fixes.md
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
  src/renderer/index.css
Due: lint, format-check

docs: add SonarCloud Quality Gate adjustment plan for PR #21
  .tasks/pr21-sonarcloud-resolution.md
  .tasks/sonarcloud-qg-exclusion.md
Due: format-check

chore: add .task dir for droid working space
  .gitignore
Due: none

fix: upgrade zod from 4.2.1 to 4.3.2
  package-lock.json
  package.json
Due: format-check

feat: implement workspace editor UI with real API integration
  src/renderer/App.tsx
  src/renderer/components/WorkspaceEditor.tsx
Due: lint, format-check

fix: improve TypeScript type narrowing for selectedWorkspace
  src/renderer/App.tsx
Due: lint, format-check

feat: Add droid.yml workflow
  .github/workflows/droid.yml
Due: format-check

feat: Add droid-review.yml workflow
  .github/workflows/droid-review.yml
Due: format-check

fix: resolve SonarCloud issues (S6853, S7735)
  src/renderer/App.tsx
  src/renderer/components/WorkspaceEditor.tsx
Due: lint, format-check

fix: resolve CodeRabbit and Sentry review issues
  src/renderer/App.tsx
Due: lint, format-check

refactor: remove duplicate CreateWorkspace and WorkspaceSettings
  src/renderer/components/CreateWorkspace.tsx
  src/renderer/components/WorkspaceSettings.tsx
Due: lint, format-check

fix: format and useEffect dependency array
  src/renderer/App.tsx
  src/renderer/components/WorkspaceEditor.tsx
Due: lint, format-check

test: add WorkspaceEditor unit tests
  package.json
  tests/unit/renderer/components/WorkspaceEditor.test.tsx
Due: lint, format-check

test: add E2E functional tests for App.tsx
  tests/e2e/functional/navigation.spec.ts
  tests/e2e/functional/workspace-crud.spec.ts
Due: lint, format-check

feat: isolate E2E test data with AGIRITY_CONFIG_DIR env var
  src/main/services/ConfigService.ts
  tests/e2e/fixtures/electron.fixture.ts
  tests/unit/main/services/ConfigService.test.ts
Due: lint, format-check

refactor: use workspaceDataSource in App.tsx for mock data support
  src/renderer/App.tsx
  src/renderer/data/workspaceDataSource.ts
Due: lint, format-check

fix: upgrade zod from 4.3.2 to 4.3.5
  package-lock.json
  package.json
Due: format-check

feat: add opt-in performance measurement infrastructure
  .env.example
  Justfile
  docs/product/01_requirment.md
  docs/product/02_tech_stacks.md
  src/main/index.ts
  src/main/ipc/index.ts
  src/main/lib/perf.ts
  src/renderer/App.tsx
  src/renderer/lib/perf.ts
  src/renderer/vite-env.d.ts
  src/shared/lib/perf/PerfTracker.ts
  src/shared/lib/perf/config.ts
  tests/unit/shared/lib/perf/PerfTracker.test.ts
Due: lint, format-check

fix: address PR review findings for PerfTracker
  src/shared/lib/perf/PerfTracker.ts
  tests/unit/shared/lib/perf/PerfTracker.test.ts
Due: lint, format-check

chore: exclude Electron-dependent perf modules from coverage
  vite.config.ts
Due: lint, format-check

fix: upgrade @sentry/electron from 7.5.0 to 7.6.0
  package-lock.json
  package.json
Due: format-check

fix(AKK-140): filter launch items by preset itemNames
  src/renderer/App.tsx
  src/renderer/components/WorkspaceDetail.tsx
  src/shared/lib/workspace-utils.ts
  tests/unit/shared/lib/workspace-utils.test.ts
Due: lint, format-check

feat: display actual app icons and favicons in workspace items
  src/main/adapters/AppAdapter.ts
  src/main/adapters/interfaces.ts
  src/main/container.ts
  src/main/lib/perf.ts
  src/main/services/LauncherService.ts
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
  src/renderer/lib/perf.ts
  tests/unit/main/services/LauncherService.test.ts
Due: lint, format-check

fix: address PR review findings for icon fetch robustness
  src/main/adapters/AppAdapter.ts
  src/main/services/LauncherService.ts
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
Due: lint, format-check

fix: address SSRF vulnerability and code quality issues
  src/main/adapters/AppAdapter.ts
  src/renderer/components/PresetCard.tsx
  src/renderer/components/ToolCard.tsx
Due: lint, format-check

fix: harden SSRF protection with IPv6, TOCTOU, and response size limits
  src/main/adapters/AppAdapter.ts
Due: lint, format-check

chore: upgdate sentry/electron
  package-lock.json
  package.json
Due: format-check

refactor(sentry): extract shared sendLog/captureIssue/captureException helpers
  src/main/lib/sentry.ts
  src/renderer/lib/sentry.ts
  src/shared/lib/sentry.ts
  tests/unit/main/lib/sentry.test.ts
  tests/unit/shared/lib/sentry.test.ts
Due: lint, format-check

refactor(sentry): introduce createSentryClient factory to reduce duplication
  src/main/lib/sentry.ts
  src/renderer/lib/sentry.ts
  src/shared/lib/sentry.ts
  tests/unit/shared/lib/sentry.test.ts
Due: lint, format-check

fix(sentry): remove inline default param values in createSentryClient (S1788)
  src/shared/lib/sentry.ts
Due: lint, format-check
